*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: a;
  src: url('./assets/jost-variable.ttf');
}
@font-face {
  font-family: b;
  src: url("./assets/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf");
}
@font-face {
  font-family: c;
  src: url('./assets/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf');
}
#main{
  position: relative;
  overflow: hidden;
}
#page1{
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  position: relative;
  object-fit: contain;
}
#page1>video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px  30px;
  height: 10vh;
  position: absolute;
  width: 100vw;
  /* background-color: yellow; */
}
nav img{
  margin-top: -2.5vw;
  width: 9%;
}
#right-nav >button{
  padding: 8px 18px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: #0b48ed;
  color: #fff;
  font-family: a;
  font-size: 15px;
  display: flex;
  align-items: center;
}
#right-nav{
  display: flex;
  margin-top: 15px;
}
.bottom-page1{
  position: absolute;
  bottom: 5%;
  left: 10%;
  height: 35vh;
  width: 50vw;

}
.bottom-page1 h1{
  font-family: a;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.bottom_page1_inner{
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
  font-family: a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 30px; */
}
.bottom_page1_inner button{
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-family: b;
  font-size: 16px;
}
.bottom_page1_inner h4{
  font-size: 1.3vw;
  font-weight: 100;
  color: #fff;
}
#page2{
  display: flex;
  align-items: start;
  font-family: a;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  position: relative;
  padding: 0 8vw;
  color: #fff;
}
#page2>h2{
  margin-bottom: 3vw;
  font-weight: 100;
}
#page2 h1{
  font-weight: 100;
  line-height: 1.3;
  width: 90%;
  font-size: 4vw;
  color: #ffffff80;
}
#page3{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: red;
}
#page3>canvas{
   max-height: 100vh;
   max-width: 100vw;
   position: relative;
   
}